body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 40px;
    min-height: 100vh;
}
form {
    width: 320px;
    margin: 100px auto;
    padding: 24px 32px;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}
input,
select,
textarea{
    margin-bottom: 20px;
    font-size: 1rem;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
.error,
.success {
    font-size: 12px;
    margin-bottom: 8px;
    padding: 4px 6px;
}
.error {
    color: darkred;
    background-color: lavenderblush;
}
.success{
    color: green;
    background-color: #deedd7;
}
button,
.btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #3057b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover,
.btn:hover{
    background-color: #26489a;
}

.rules {
    background-color: #faf6f6;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 12px;
}
.rules ul {
    margin: 0;
    padding-inline-start: 20px;
}

.tabs {
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    width: fit-content;
    margin-bottom: 16px;
}
.tab {
    opacity: 0.5;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.tab.active {
    opacity: 1;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.card {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
}
footer {
    margin-top: 3rem;
    color: #888;
    font-size: 0.9rem;
}