<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="'User ' + ${user.id}">User</title>
    <link rel="stylesheet" th:href="@{/global.css}" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="overflow-x-hidden">

<div class="blurry-bg fixed w-screen h-screen -z-10 top-0 left-0 absolute">
    <div class="background opacity-75 -z-10 rounded-full top-[40vh] left-[10vw] absolute bg-[#ADE48B] blur-[120px] w-200 h-120"></div>
    <div class="background opacity-65 -z-10 rounded-full top-[20vh] left-[45vw] absolute bg-[#FF47A0] blur-[100px] w-130 h-96"></div>
</div>


<!-- Nav -->
<div th:replace="fragments/navbar :: slayNav(${activeTab})"></div>

<!-- Users list -->
<section>
    <h2 class="text-4xl font-bold my-6">
        @<span th:text="${user.getUsername()}">username</span>
        <span class="text-sm text-gray-500 ml-3">
    <span th:text="${connectionDegree != null ? connectionDegree : '-'}">-</span>
  </span>
    </h2>

    <form class="mb-10" th:if="${!isSelf}" th:action="@{|/SlayScale/user/follow/${user.id}|}" method="post">
        <button type="submit"
                class="uppercase btn"
                th:text="${isFollowing} ? 'Unfollow' : 'Follow'">
            Follow
        </button>
    </form>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="card-bg !rounded-3xl flex flex-col w-full p-4" th:each="r : ${reviews}">
            <!-- Link to user profile -->
            <a class="font-bold text-lg" th:href="@{/SlayScale/products/{id}(id=${r.getProduct().getId()})}">
                <p><span th:text="${r.getProduct().getName()}">name</span>⟶</p>
            </a>

            <!-- Stars + rating -->
            <div>
                <!-- Filled stars -->
                <span class="text-pink-500" th:each="i : ${#numbers.sequence(1, r.rating)}">
                    <i class="bi bi-star-fill fs-3"></i>
                </span>

                <!-- Empty stars -->
                <span class="text-pink-500" th:if="${r.rating < 5}"
                      th:each="i : ${#numbers.sequence(1, 5 - r.rating)}">
                    <i class="bi bi-star fs-3"></i>
                </span>
            </div>

            <!-- Review text -->
            <p th:text="${r.text}">Great!</p>
        </div>
    </div>
</section>

</body>
</html>
