<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/global.css}" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="overflow-x-hidden">

<div class="blurry-bg fixed w-screen h-screen -z-10 top-0 left-0 absolute">
    <div class="background opacity-75 -z-10 rounded-full top-[40vh] left-[10vw] absolute bg-[#ADE48B] blur-[120px] w-200 h-120"></div>
    <div class="background opacity-65 -z-10 rounded-full top-[20vh] left-[45vw] absolute bg-[#FF47A0] blur-[100px] w-130 h-96"></div>
</div>

<!-- Nav -->
<div th:replace="fragments/navbar :: slayNav(${activeTab})"></div>

<!-- Users list -->
<section>
    <form class="mb-10 max-w-96" method="get" th:action="@{/SlayScale/users}" >
        <label class="uppercase" for="sort">Sort</label>

        <select class="!rounded-full !border-pink-400 px-4"
                id="sort"
                name="sortStrategy"
                onchange="this.form.submit()">
            <option value="DEFAULT" th:selected="${sortStrategy == null or sortStrategy == 'DEFAULT'}">
                Default
            </option>
            <option value="MOST_FOLLOWED" th:selected="${sortStrategy == null or sortStrategy == 'MOST_FOLLOWED'}">
                Most followed
            </option>
            <option value="SIMILARITY" th:selected="${sortStrategy == 'SIMILARITY'}">
                Most like me
            </option>
        </select>
    </form>


    <div th:if="${#lists.isEmpty(users)}" class="muted">No users yet.</div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <a th:each="u : ${users}"
           class="card-bg !rounded-4xl flex flex-col w-full border border-pink-200 p-4 "
           th:href="@{|/SlayScale/users/${u.id}|}"
           style="text-decoration:none; color:inherit;">

            <p class="text-lg font-bold">
                @<span th:text="${u.username}"></span>
                <span class="text-sm text-gray-500 ml-2 p-4">
                    <span th:text="${connectionDegrees[u.id]}"></span>
                </span>
            </p>
            <p>Followers: <span th:text="${u.followerCount}">0</span></p>
            <p>Following: <span th:text="${u.followingCount}">0</span></p>
        </a>
    </div>

</section>

</body>
</html>
