<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/global.css}" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

<!-- Nav -->
<nav class="mt-3 mb-8 py-4 px-8 bg-pink-200 border border-pink-400 rounded-full flex justify-between items-center">
    <div class="flex gap-1 w-12 flex-col md:flex-row md:gap-6">
        <a class="tab" th:classappend="${activeTab == 'products'} ? ' active'" th:href="@{/SlayScale/products}">Products</a>
        <a class="tab" th:classappend="${activeTab == 'users'} ? ' active'" th:href="@{/SlayScale/users}">Users</a>
    </div>
    <img class="h-8 md:h-12" src="/assets/slayscale-wordmark.svg"/>
    <div class="flex justify-end w-12">
        <a class="" th:href="@{/}">
            <img src="/assets/log-out.svg">
        </a>
    </div>
</nav>

<!-- Users list -->
<section>
    <h2 class="text-4xl font-bold my-6" >@<span th:text="${user.getUsername()}">username</span></h2>

    <div class="flex flex-wrap gap-2">
        <a th:each="r : ${reviews}"
           class="card flex flex-col w-full sm:w-60 md:w-72 lg:w-80 border border-pink-200 p-4 "

           style="text-decoration:none; color:inherit;">

            <div><b>Rating:</b> <span th:text="${r.rating}">5</span></div>
            <div><b>Text:</b> <span th:text="${r.text}">Great!</span></div>
            <div class="muted">
                <span>Review ID: </span><span th:text="${r.id}">10</span>
            </div>
        </a>
    </div>
</section>

</body>
</html>
